<h1>Liste des candidatures</h1>

<table>
  <tr>
    <th>Evenement</th>
    <th>Statu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidatures.each do |candidature| %>
  <tr>
    <td><%= candidature.evenement %></td>
    <td><%= candidature.statu %></td>
    <td><%= link_to 'Voir', candidature %></td>
    <td><%= link_to 'Editer', edit_candidature_path(candidature) %></td>
    <td><%= link_to 'Effacer', candidature, :confirm => 'Etes vous sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Candidature', new_candidature_path %>
