<p id="notice"><%= notice %></p>

<p>
  <b>Titre:</b>
  <%= @evenement.titre %>
</p>

<p>
  <b>Organisé par:</b>
  <%= @evenement.membre.nom %>
</p>

<p>
  <b>Detail:</b>
  <%= @evenement.detail %>
</p>


<p>
  <b>Date:</b>
  <%= @evenement.date %>
</p>

<p>
  <b>Adresse:</b>
  <%= @evenement.adresse %>
</p>

<p>
  <b>Region:</b>
  <%= @evenement.region_id %>
</p>



<%= link_to 'Edit', edit_evenement_path(@evenement) %> |
<%= link_to 'Back', evenements_path %>
