<!DOCTYPE html>
<html>
<head>
  <title>Phandicap</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <%  if session[:membre_id] %>
      <%= link_to "Deconnection", session_path(:id => session[:membre_id]), :method => :delete %>
    <% end %>
  <% flash.each do |key, value| %>
		<%= content_tag(:div, raw(value), :class => "flash #{key}") %>
	<% end %>
<%= yield %>
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
PARAMS : <%= params %>  |<br />
SESSION : <%= session %>  |<br />
</body>
</html>
